/.vscode
/6-30-challenge
/bin
/bootstrap-4.5.0
/Challenge1
/Code
/CSS - Tobias Steiner Personal
/Eloquent-JavaScript
/Flexbox
/HTML - Personal Site
/JS Training
/JS Training 2
/L-week-1
/L-week-2
/L-week-3
/Lambda-Challenge
/LoveCalculator
/obj
/Program.cs
/TinDog-Start-master
/Web Dev BS
/Web Dev.csproj
/You-Dont-Know-JS